
#app2 img {
  width: 70px !important;
  height: auto;
  margin: 10px;
}

#app2 > div {
  border: solid black 1px;
  width: 100%; 
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}